In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [3]:
#Import Dataframes
path=r'C:\Users\north\08-2024 Instacart Basket Analysis'
df_ords= pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col=False)
df_ords_prior= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col=False)

In [7]:
#Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
df_ords_prior.shape

(32434489, 4)

In [11]:
df_ords.shape

(3421083, 8)

In [13]:
#Create new Dataframe
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [15]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,order_weekday,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,First Order,196,1,0,both
1,0,2539329,1,1,2,8,NaN,First Order,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,First Order,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,First Order,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,First Order,26405,5,0,both

In [19]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

###**Answers to Exercise 4.6**

In [22]:
#2. Export merged file in pickle format as 'orders_products_combined'
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [24]:
df_merged_large.shape

(32434489, 12)